<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- 인터넷 관련 퍼미션 -->

    <!-- http접근이 막히면서 "android:usesCleartextTraffic="true"" 설정해줘야함 -->
    <application
            android:usesCleartextTraffic="true"

            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="My Application"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>