.slick-slider{
  position:inherit;
  width: 100%;
}
.slick-prev{
  display: none !important;
}
.slick-next{
  display: none !important;
}
.slick-dots{
  display: none !important;
}

.slick-slide>div>div>img{
  width:1903px;
  height: 500px;
}
