/* * {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    padding: 5px;
    list-style-type: none;
}

input {
    position: fixed;
    left: 50px;
}

label {
    cursor: pointer;
    color: red;
}

.submenu {
    display:none;
    background: #ccc;
}

#menuBtn:checked ~ .submenu {
    display: block;
}

.box1 {
    width: 100px;
    height: 50px;
    background: red;
    transition: all 0.3s;
}

#toggleBtn:checked ~ .box1 {
    width: 400px;
    height: 150px;
    background: blue;
}

.menu2 > li {
    list-style-type: none;
    float: left;
    position: relative;
}

.menu2 .submenu2 {
    position: absolute;
    width: 100px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s;
    background: #ccc;
}

.menu2 #menuBtn2:checked ~ .submenu2 {
    transform: scaleY(1);
} */
