@import './NoSearchTab.css';

.search>form>label>input:focus-within ~ .tabSize{
  display: block;
}

.search {
    position: relative;
    float: left;
    width: 33%;
    height: 70px;
    margin-left: 60px;
    padding: 0 40px 0 10px;
    border-bottom: 1px solid #1b1b1b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 11;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    width: 95%;
    height: 30px;
    line-height: 31px;
    border: none;
    background: #fff;
    font-size: 14px;
    font-family: Nanum Gothic,NanumSquare,\\B3CB\C6C0,Dotum,"sans-serif";
    margin-top: 25px !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

.buttonShape {
      position: absolute;
      top: 20px;
      right: 10px;
      background-color: #fff;
      cursor: pointer;

      background: none;
      padding: 0;
      box-sizing: border-box;
      border-radius: 0;

      font-family: Nanum Gothic,NanumSquare,\\B3CB\C6C0,Dotum,"sans-serif";

      appearance: auto;
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: -internal-light-dark(black, white);
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: center;
      align-items: flex-start;
      margin: 0em;

      border:0px;
}
