.maincontent{
    width: 75%;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    background-color: burlywood;
}

.prod_list_slide {
    margin: 0 -20px;
    overflow: hidden;
}

.price_group {
    margin-top: 18px;
    position: static;
    text-align: left;
    margin-bottom: 3px;
}
.price_group .price {
    color: #111;
}
.price{
    display: block;
    font-size: 22px;
}
.tag, .tag_group>span, .badge {
    display: inline-block;
    padding: 0 6px;
    height: 19px;
    line-height: 17px;
    font-size: 12px;
}

.img {
  width: 200px;
  height: 100px;
}
img{
  max-width: 100%;
  max-height: 100%;
}



.swiper-container {
	width:1000px;
  height: 300px;
	padding:30px 0;
	border-radius:7px;
}
.swiper-slide {
  width:0px;
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-scrollbar{
  display: none;
}
.swiper-pagination{
  display: none;
}
